nav {
    
    margin-bottom: 40px;

   }
   .bg-light{background-color: #975B5B !important; }
   

   ul li{
       
   
       margin: 10px;
   }
   a{
    font-size: 120% !important;
       color: aliceblue !important;
   }
#formula{ 
   
    font-size: 150% !important;
   
}
#logo{
    width: 80px; height: 50px;
    margin-left: 38%
}
#logo2{
    width: 80px; height: 50px;
  
}