.card{
    background: #574e4c !important;}
    
h5{color: aliceblue;}
small{color:white !important; }
.card-deck{ margin-top: 5px;
    margin-left: 30px;
    position: relative;
    float: left;
    margin-right: 30px;
   }